<div class="row pt-4">
  <div class="col-sm-12 col-md-12 col-lg-12 col-lg-12 mb-4">
    <div *ngIf="areThereDocuments"
         class="form-container-steps bg-white pt-4 mb-4">
      <div class="px-4">
        <p class="title-user-form-secondary font-weight-bold primary-text mb-3">
          Modificación de contrato
        </p>
        <hr class="gray-line" />
        <div class="row mt-4 px-3">
          <div class="col-11">
            <kt-file-details [accredited]="!!modifiedContractLastDocument.approved"
                             [isFinalDocument]="!!accreditedContract"
                             [hasApprovalFlow]="true"
                             [uppercase]="true"
                             [showTags]="true"
                             [file]="
                contracts.document[contracts.document.length - 1].document
              ">
            </kt-file-details>
          </div>
          <div class="col-1 d-flex align-items-start">
            <kt-menu-action (clickAction)="menuEvent($event)"
                            [menuOptions]="menuOptions"
                            [itemIndex]="contracts.document.length - 1">
            </kt-menu-action>
          </div>
        </div>
        <kt-reviews-list [reviewsList]="contracts.document[contracts.document.length - 1].review"
        [approvationReview]="contracts.document[contracts.document.length - 1].approved"></kt-reviews-list>

      </div>
      <ng-container *ngIf="historyDocuments.length > 0">
        <kt-history-panel [history]="historyDocuments.reverse()"></kt-history-panel>
      </ng-container>
    </div>

    <div class="row"
         *ngIf="!areThereDocuments">
      <div class="col-sm-12 col-md-12 col-lg-12 col-lg-12 mb-4">
        <div class="container form-container-steps bg-white px-4 py-4">
          <kt-upload-files [isDisable]="!hasAccesToUpload"
                           objectInEdition="execution"
                           documentType="contractModification"
                           title="Modificación de contrato">
          </kt-upload-files>
        </div>
      </div>
    </div>
  </div>
</div>

<kt-modified-contract *ngIf="selectedExecution.payment.modifiedContract && !!selectedExecution.payment.modifiedContract.document"
                      [codeStep]='"paso_03_03"'></kt-modified-contract>

<div class="d-flex justify-content-end mt-3">
  <button (click)="goBack()"
          class="col btn btn-action btn-action-primary d-flex justify-content-center align-items-center">
    Volver
  </button>
  <button (click)="next()"
          class="col btn btn-action btn-action-secondary d-flex justify-content-center align-items-center ml-4">
    {{ textButtonNext }}
  </button>
</div>
