@import "abstracts/variables";

.contrast-bg {
  background-color: $secondary-a-color;
}

.form-container-steps{
  border-radius: 6px;
  border: solid 1px #b5b5b5;
}

.separator-darker {
  border: solid 0.5px #979797;
  opacity: 0.7;
}

.title-text {
  color: $primary-color;
  font-size: 12px;
}

.switchToggle {
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  label {
    text-indent: -9999px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0px;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }
  }

  input {
    &:checked {
      + {
        label, input + label {
          background: #5f7d96;
        }
      }

      + {
        label:before, input + label:before {
          content: 'Si';
          position: absolute;
          top: 5px;
          left: 10px;
          width: 26px;
          height: 26px;
          border-radius: 90px;
          transition: 0.3s;
          text-indent: 0;
          color: #fff;
        }

        label:after, input + label:after {
          left: calc(100% - 2px);
          transform: translateX(-100%);
        }
      }
    }

    + {
      label:before, input + label:before {
        content: 'No';
        position: absolute;
        top: 5px;
        left: 35px;
        width: 26px;
        height: 26px;
        border-radius: 90px;
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
      }
    }
  }

  label:active:after {
    width: 60px;
  }
}

.text-question {
  color: #87786e;
  font-size: 14px;
}

.toggle-switchArea {
  margin: 10px 0 10px 0;
}

.label-item {
  color: $primary-color;
  font-size: 10px;
}

.value-item {
  color: #87786e;
  font-size: 12px;
}
