<div class="login d-flex flex-column justify-content-center align-items-center">
  <div class="content-login d-flex flex-column rounded shadow bg-white">
    <div
      class="header d-flex justify-content-between flex-column align-items-center"
    >
      <div class="logo mb-4"></div>
      <h6>Se requiere una autenticación adicional</h6>
      <p class="text-muted text-center" [style.fontSize.px]="14">
        Ingrese el código de verificación generado por la aplicación Microsoft
        Authenticator.
      </p>
    </div>
    <div class="body d-flex flex-row">
      <div class="default-login">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-icon matPrefix class="mr-2 ml-2">vpn_key</mat-icon>
              <input
                type="text"
                maxlength="6"
                ktInputPattern="onlyNumbers"
                [(ngModel)]="token"
                [style.fontSize.px]="15"
                matInput
                placeholder="Porfavor, ingrese su código aquí"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-12 col-sm-12">
            <button
              mat-flat-button
              [disabled]="!token"
              (click)="fgLoginSubmit()"
              color="primary"
              class="w-100 p-1 mb-4"
            >
              Autenticar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="powered pt-4">
    <img
      class="bottom-logo"
      src="/assets/vectors/powered-one-color.svg"
      alt="powered-one-color"
    />
  </div>
</div>
