$font-family-base: "Open Sans", sans-serif;
$body-color: #4d4d4d;

$primary-color: #005073;
$secondary-color: #87786e;
$secondary-a-color: #0099d6;
$secondary-b-color: #005073;
$kaytrust-color: #251051;

$success-color: #27ae60;
$info-color: #4285f4;
$warning-color: #fbbc05;
$error-color: #eb4335;

/*--- Typography ---*/
$semi-bold-text: 400;
$tiny-font-size: 10px;
$small-font-size: 12px;
$small-plus-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 20px;
