<div class="forgot-password d-flex flex-column justify-content-center align-items-center">
    <div class="content-forgot-password d-flex flex-column rounded shadow bg-white p-4">
        <div class="header d-flex flex-row justify-content-center align-items-center">
            <div class="logo"></div>
        </div>
        <div class="body d-flex flex-column">
            <div class="title mt-3">
                ¿Olvidaste tu contraseña?
            </div>
            <div class="description mb-4">
                Ingresa tu correo electrónico para restablecer tu contraseña.
            </div>
            <form autocomplete="off" [formGroup]="fgForgotPassword"
                (ngSubmit)="fgForgotPasswordSubmit(fgForgotPassword)" class="row">
                <div class="col-md-12 col-sm-12">
                    <mat-form-field class="w-100" appearance="outline" floatLabel="always">
                        <mat-label>Correo electrónico</mat-label>
                        <input type="email" formControlName="email" matInput
                            placeholder="jhon@everis.com">
                        <mat-error *ngIf="errorForm('email', 'required')">{{ ccForgotPassword.email.error.required }}
                        </mat-error>
                        <mat-error *ngIf="errorForm('email', 'maxlength')">{{ ccForgotPassword.email.error.maxlength }}
                        </mat-error>
                        <mat-error *ngIf="errorForm('email', 'minlength')">{{ ccForgotPassword.email.error.minlength }}
                        </mat-error>
                        <mat-error *ngIf="errorForm('email', 'pattern')">{{ ccForgotPassword.email.error.pattern }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <button mat-button class="w-100" [routerLink]="['/security']">Cancelar</button>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button [disabled]="isDisabled" mat-flat-button color="primary"
                                class="w-100">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
