.forgot-password {
  height: 100vh;
  .content-forgot-password {
    width: 500px;
    .header {
      .logo {
        background-image: url("/assets/vectors/logo-bid.svg");
        background-repeat: no-repeat;
        width: 103px;
        height: 40px;
      }
    }
    .body {
      .title {
        font-size: 20px;
        font-weight: 600;
      }
      .description {
        font-size: 14px;
      }
    }
  }
}
