@import "abstracts/variables";

.switchToggle {
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 70px;
    max-width: 70px;
    height: 30px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0px;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }
  }

  input {
    &:checked {
      + {
        label, input + label {
          background: $primary-color;
        }
      }

      + {
        label:before, input + label:before {
          content: 'Si';
          position: absolute;
          top: 5px;
          left: 10px;
          width: 26px;
          height: 26px;
          border-radius: 90px;
          transition: 0.3s;
          text-indent: 0;
          color: #fff;
        }

        label:after, input + label:after {
          left: calc(100% - 2px);
          transform: translateX(-100%);
        }
      }
    }

    + {
      label:before, input + label:before {
        content: 'No';
        position: absolute;
        top: 5px;
        left: 35px;
        width: 26px;
        height: 26px;
        border-radius: 90px;
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
      }
    }
  }

  label:active:after {
    width: 60px;
  }
}

.toggle-switchArea {
  margin: 10px 0 10px 0;
}

.btn-action {
  max-width: 190px;
  max-height: 45px;
  min-height: 45px;
  border-radius: 22.5px;
  border: solid 1px $primary-color;
  font-size: $small-plus-font-size;
}

.btn-action-secondary {
  color: #ffffff;
  background-color: $primary-color;
  &:hover {
    color: #ffffff;
  }
}

.btn-action-primary {
  color: $primary-color;
  background-color: #ffffff;
}

.action_title_secondary {
  color: $secondary-color;
  font-weight: 300;
}

.small-plus-text {
  font-size: $small-plus-font-size;
}
