<div class="row pt-3">
  <div class="col-sm-12 col-md-12 col-lg-12 col-lg-12 mb-4">

    <ng-container *ngIf="paymentsArrayValues">
      <div class="mx-2" *ngFor="let company of companies">
        <kt-documents-panel [title]="company">
          <ng-container
            *ngFor="let finalPayment of paymentsArrayValues; index as i"
          >
            <div
              *ngIf="finalPayment.preliminaryEstimateRequest.document.company === company"
              class="form-container-steps bg-white pt-4 mb-4"
            >
              <div class="px-4">
                <p
                  class="title-user-form-secondary font-weight-bold primary-text mb-3"
                >
                Pago final
                </p>
                <hr class="gray-line" />
                <div class="row mt-4 px-3">
                  <div class="col-11">
                    <kt-file-details
                      [showTags]="true"
                      [isFinalDocument]="finalPayment.isLatestVersion"
                      [hasApprovalFlow]="true"
                      [accredited]="!!finalPayment.estimateRequest.approved"
                      [file]="finalPayment.estimateRequest.document"
                    >
                    </kt-file-details>
                  </div>
                  <div class="col-1 d-flex align-items-start">
                    <kt-menu-action
                      [itemIndex]="i"
                      (clickAction)="estimateRequestEvent($event)"
                      [menuOptions]="estimateRequestMenu(finalPayment)"
                    >
                    </kt-menu-action>
                  </div>
                </div>
                <kt-reviews-list
                  [reviewsList]="finalPayment.estimateRequest.review"
                  [approvationReview]="finalPayment.estimateRequest.approved"
                ></kt-reviews-list>
              </div>

              <ng-container
                *ngIf="
                  finalPayment.estimateRequestHistory &&
                  finalPayment.estimateRequestHistory.length > 0
                "
              >
                <kt-history-panel
                  [history]="finalPayment.estimateRequestHistory"
                ></kt-history-panel>
              </ng-container>

              <hr class="separator mt-0" *ngIf="finalPayment.isLatestVersion" />
              <div class="px-4" *ngIf="finalPayment.f01Estimate">
                <p
                  class="title-user-form-secondary font-weight-bold primary-text mb-3"
                >
                  F01 de pago final
                </p>
                <hr class="gray-line" />
                <div class="row mt-4 px-3">
                  <div class="col-11">
                    <kt-file-details
                      [accredited]="true"
                      [showTags]="true"
                      [file]="finalPayment.f01Estimate"
                    ></kt-file-details>
                  </div>
                  <div
                    class="col-1 d-flex justify-content-end align-items-start"
                  >
                    <kt-menu-action
                      [itemIndex]="i"
                      (clickAction)="f01EstimateEvent($event)"
                      [menuOptions]="f01EstimateMenu"
                    >
                    </kt-menu-action>
                  </div>
                </div>
              </div>

              <ng-container
                *ngIf="
                  finalPayment.f01EstimateHistory &&
                  finalPayment.f01EstimateHistory.length > 0
                "
              >
                <kt-history-panel
                  [showAllAccredited]="true"
                  [history]="finalPayment.f01EstimateHistory"
                ></kt-history-panel>
              </ng-container>
              <div
                *ngIf="
                  !finalPayment.f01Estimate && finalPayment.isLatestVersion
                "
                class="px-3 pb-3"
              >
                <kt-upload-files
                  [idGroup]="
                    selectedProject.execution.payment.finalPayment[i].id
                  "
                  documentType="finalEstimateF01"
                  [accredit]="true"
                  [isDisable]="!hasAccesEdit"
                  objectInEdition="execution"
                  title="F01 de pago final"
                ></kt-upload-files>
              </div>

              <hr class="separator mt-0" *ngIf="finalPayment.f01Estimate" />
              <div class="px-4" *ngIf="finalPayment.proffPayment">
                <p
                  class="title-user-form-secondary font-weight-bold primary-text mb-3"
                >
                  Confirmación de pago final
                </p>
                <hr class="gray-line" />
                <div class="row mt-4 px-3">
                  <div class="col-11">
                    <kt-file-details
                      [accredited]="true"
                      [showTags]="true"
                      [file]="finalPayment.proffPayment"
                    ></kt-file-details>
                  </div>
                  <div
                    class="col-1 d-flex justify-content-end align-items-start"
                  >
                    <kt-menu-action
                      [itemIndex]="i"
                      (clickAction)="proofEstimateEvent($event)"
                      [menuOptions]="noObjectionMenu"
                    >
                    </kt-menu-action>
                  </div>
                </div>
              </div>

              <ng-container
                *ngIf="
                  finalPayment.proffPaymentHistory &&
                  finalPayment.proffPaymentHistory.length > 0
                "
              >
                <kt-history-panel
                  [showAllAccredited]="true"
                  [history]="finalPayment.proffPaymentHistory"
                ></kt-history-panel>
              </ng-container>
              <div
                *ngIf="!finalPayment.proffPayment && finalPayment.f01Estimate"
                class="px-3 pb-3"
              >
                <kt-upload-files
                  [idGroup]="
                    selectedProject.execution.payment.finalPayment[i].id
                  "
                  [accredit]="true"
                  documentType="finalEstimateCdp"
                  [isDisable]="!hasAccesEdit"
                  objectInEdition="execution"
                  title="Confirmación de pago final"
                >
                </kt-upload-files>
              </div>
            </div>
          </ng-container>
        </kt-documents-panel>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-lg-12 mb-4">
        <div class="container form-container-steps bg-white px-4 py-4">
          <kt-upload-files
            objectInEdition="execution"
            [isDisable]="!hasAccesToUpload || isAccreditStepThree"
            documentType="finalEstimateRequest"
            title="Pago final"
          >
          </kt-upload-files>
        </div>
      </div>
    </div>
  </div>
</div>
