@import "abstracts/variables";

.btn-action {
  max-width: 190px;
  max-height: 45px;
  min-height: 45px;
  border-radius: 22.5px;
  border: solid 0.5px $primary-color;
  font-size: $small-plus-font-size;
}

.btn-action-secondary {
  color: #ffffff;
  background-color: $primary-color;
  &:hover {
    color: #ffffff;
  }
}

.btn-action-primary {
  color: $primary-color;
  background-color: #ffffff;
}

.prefix {
  color: #8b8989 !important;
  position: relative;
  bottom: 3px;
}
