@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.breadcrumb_active {
  color: #ffffff !important;
  background: $primary-color !important;
  img {
    filter: brightness(0) invert(1);
  }
  &:after {
    border-left-color: $primary-color !important;
  }
}

.breadcrumb {
  display: block;
  width: 100%;
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0;

  li {
    display: block;

    a {
      text-align: center;
      color: #787878;
      text-decoration: none;
      padding: 20px 0 20px 10px;
      background: #d8d8d8;
      position: relative;
      display: block;

      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #d8d8d8;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }

      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #f3f1f0;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 7px;
        left: 100%;
        z-index: 1;
      }

      img {
        padding-right: 1em;
      }
    }
  }
}


#breadcrumb li:first-child a{
  text-align: initial;
}


/* Media Queries */
@media (min-width: 500px) {
  @include breadcrumb--sm();
}

