@import 'abstracts/variables';

.icono_hover {
  &:hover {
    cursor: pointer;
    filter: invert(0.1) sepia(1) saturate(80) hue-rotate(175deg);
  }
}

.list-menu mat-list-item {
  font-size: 13px;
  color: $secondary-color;
  cursor: pointer;
  border-radius: 0px !important;
  height: 50px;

  &:hover {
    background-color: $secondary-b-color;
    color: #ffffff;
  }
}

.list-container {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
}

.cell-table {
  cursor: pointer;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

::ng-deep .mat-menu-content:not(:empty) {
  cursor: pointer;
  padding: 0px !important;
}

::ng-deep .mat-list-base {
  padding: 0px !important;
}

::ng-deep .mat-menu-panel {
  min-height: 30px !important;
}

::ng-deep .mat-column-processName {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word !important;
  padding-right: 1.3em !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.7em !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.vh-40 {
  height: 40vh;
}
