@import "../../../../styles/abstracts/variables";

.complete-password {
  height: 100vh;
  .content-qr-2FA{
    width: 700px;
  }
  .content-complete-password {
    width: 400px;
    .header {
      margin: 30px 20px 20px 20px;
      .logo {
        background-image: url("/assets/vectors/logo-bid.svg");
        background-repeat: no-repeat;
        width: 103px;
        height: 40px;
      }
    }
    .info {
      margin: 0 35px 0 35px;
      font-size: 14px;
    }
    .body {
      padding: 20px;
      .default-complete-password {
        flex: 1 55%;
        .checkRemember,
        .forgotPassword {
          font-size: 13px;
        }
        .forgotPassword span {
          margin-top: 2px;
          display: block;
          color: $primary-color;
          cursor: pointer;
        }
        .divider {
          border-top: 1px solid #d9dadc;
          display: block;
          line-height: 1px;
          margin: 35px 0;
          position: relative;
          text-align: center;
          .divider-title {
            background: #fff;
            font-size: 12px;
            letter-spacing: 1px;
            padding: 0 20px;
            text-transform: uppercase;
          }
        }
      }
      .qr-complete-password {
        flex: 1 45%;
      }
    }
  }
  .content-qr-kaytrust {
    width: 700px;
    .header {
      margin: 30px 20px 15px;
      .logo {
        background-image: url("/assets/images/logo-kaytrust.png");
        background-repeat: no-repeat;
        width: 176px;
        height: 72px;
      }
    }
    .body {
      .wrap-steps {
        .steps {
          font-size: 16px;
          position: relative;
          .guide {
          }
          .list_number_qr {
            list-style: none;
            counter-reset: circle-counter;
          }

          .list_number_qr li {
            display: flex;
            align-items: center;
            margin: 20px 0 0 60px;
            counter-increment: circle-counter;
          }

          .list_number_qr li::before {
            content: counter(circle-counter) "";
            color: #ffffff;
            position: absolute;
            --size: 30px;
            width: var(--size);
            height: var(--size);
            left: calc(1 * var(--size) - 10px);
            padding: 0.5em;
            border-radius: 50%;
            background-color: #005073;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .qr {
          img {
            max-width: 180px;
          }
        }
      }
      .divider {
        border-top: 1px solid #d9dadc;
        line-height: 1px;
        margin: 35px 0;
        position: relative;
        text-align: center;
        .divider-title {
          background: #fff;
          font-size: 12px;
          letter-spacing: 1px;
          padding: 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
  .powered {
    margin-top: 20px;
    img {
      width: 220px;
    }
  }
}
.btn-kaytrust {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $kaytrust-color;
  width: 100%;
  height: 50px;
  cursor: pointer;
  span.icon {
    background-image: url("/assets/vectors/icon-kaytrust.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  span.text {
    color: white;
    margin-left: 10px;
    font-size: 14px;
  }
}

.btn-email {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  width: 100%;
  height: 50px;
  cursor: pointer;
  span.icon {
    background-image: url("/assets/vectors/icon-mail.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  span.text {
    color: #111111;
    margin-left: 10px;
    font-size: 14px;
  }
}

.version-app {
  span {
    color: gray;
    font-size: 10px;
  }
}
