@import "../../../../../../styles/abstracts/variables";

.header {
  background-color: $primary-color;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
  span {
    font-weight: $semi-bold-text;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}

.dialog-description{
  color: $secondary-color;
  font-size: $small-font-size;
}

.close-container {
  background-color: $primary-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

.content {
  width: 500px;
  height: 100px;
  justify-content: center;
  text-align: center;
  color: $primary-color;
}
