@import "abstracts/variables";

.details-header {
  background-color: $primary-color;
  height: 60px;
  .title {
    font-size: 20px;
  }
  .goBack-text {
    font-size: 14px;
  }
}

.back-btn {
  cursor: pointer;
}

.details-container {
  background-color: #f3f1f0;
}

.left-arrow {
  font-size: 30px;
  margin-right: 0.5em;
}

.list-items-container {
  background-color: white;
}

.label-item {
  color: $primary-color;
  font-size: 10px;
}

.column-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.value-item {
  color: #87786e;
  font-size: 12px;
}

.details-card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
