html,
body {
  background-color: #f3f1f0;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  font-size: 0.85em !important;
  // width: 100% !important;
}

table.mat-table thead,
table.mat-table tfoot {
  background-color: #f5f5f5;
}
mat-paginator.mat-paginator{
  background-color: #f5f5f5;
}
// mat-checkbox {
//   font-size: 13.5px;
//   color: rgba(0, 0, 0, 0.5) !important;
// }

// button[mat-raised-button] {
//   border-radius: 100px !important;
//   padding: 5px 28px !important;
// }

// .mat-error-checkbox {
//   font-size: 11px;
// }

// .mat-form-field-wrapper {
//   padding-bottom: 0 !important;
// }

// .mat-form-field-appearance-outline .mat-form-field-wrapper {
//   margin: 0 !important;
// }

// h2, .h2 {
//   font-size: 1.75rem !important;
// }
