<mat-tab-group mat-stretch-tabs
               class="example-stretched-tabs">
  <mat-tab label="Preparación">
    <kt-preparation [codeStep]="codeStep"
                    [isAccreditStepOne]="isAccreditStepOne"
                    [hasAccesEdit]="hasAccesEdit"
                    (enableNextBtn)="preparationSection($event)"></kt-preparation>
  </mat-tab>
  <mat-tab label="Aclaratorias">
    <kt-clarifications (enableNextBtn)="clarificationsSection($event)"
                       [codeStep]="codeStep"
                       [isAccreditStepOne]="isAccreditStepOne"></kt-clarifications>
  </mat-tab>
  <mat-tab label="Enmiendas">
    <kt-amendments (enableNextBtn)="amendmentsSection($event)"
                   [codeStep]="codeStep"
                   [isAccreditStepOne]="isAccreditStepOne"></kt-amendments>
  </mat-tab>
</mat-tab-group>
<div class="d-flex justify-content-end mt-5">
  <button (click)="goBack()"
          class="col btn btn-action btn-action-primary d-flex justify-content-center align-items-center">
    Volver
  </button>
  <button (click)="next()"
          [disabled]="!disableNextButton"
          class="col btn btn-action btn-action-secondary d-flex justify-content-center align-items-center ml-4">
    {{textButtonNext}}
  </button>
</div>
